.interact-root {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.container {
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 95%;
    height: 90%;
    align-items: center;
}

.interact-label {
    font-size: 20px;
}

.progress-bar {
    width: 50%;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: -6px;
    border-top-right-radius: -6px;
    border-bottom-right-radius: -6px;
    border-bottom-left-radius: -6px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
